doctype html
html(lang="en")
  head
    title Pure rest api
    link(rel="stylesheet" href="/css/main.css")
    script(type="text/javascript" src="/js/client.js")
  body
    aside.meta
      h1 Meta information
      table
        tbody
          each val, key in resource.meta
            tr
              th=key
              td=val
    main.data
      h1 Data
      pre= JSON.stringify(resource.data, null, 2)
    nav.links
      h1 Links
      ul
        each link, index in resource.links
          li
            if link.rel === 'self'
              a(href=link.href rel=link.rel)=link.title || "This resource"
            else
              a(href=link.href rel=link.rel)=link.title || link.href
              form(onsubmit="client.deleteRelation(event)")
                input(type="hidden" name="uri" value=uri.href)
                input(type="hidden" name="rel" value=link.rel)
                input(type="hidden" name="href" value=link.href)
                input(type="hidden" name="index" value=index)
                button Delete relation
    section.actions
      h1 Actions
      form(onsubmit="client.addRelation(event)")
        h1 Add relation
        input(type="hidden" name="uri" value=uri.href)
        div
          label Relation type
            select(name="rel")
              option(value="item") Item
        div
          label The target URI
            input(name="href")
        div
          button Add
            
        
  
