doctype html
html(lang="en")
  head
    title Pure rest api
    link(rel="stylesheet" href="/css/main.css")
    script(type="text/javascript" src="/js/client.js")
  body
    aside.meta
      h1 Meta information
      table
        tbody
          each val, key in resource.meta
            tr
              th=key
              td=val
    main.data
      h1 Data
      pre= JSON.stringify(resource.data, null, 2)
    nav.links
      h1 Links
      table.links
        thead
          tr
            th Link
            th Root relative URL
            th Link relation type
            th Actions
        tbody
          each link, index in resource.links
            tr
              td
                if link.rel === 'self'
                  a(href=link.href rel=link.rel)=link.title || "This resource"
                else
                  a(href=link.href rel=link.rel)=link.title || link.href
              td
                =link.href
              td
                =link.rel
              td
                if link.rel !== 'self'
                  form(onsubmit="client.deleteRelation(event)")
                    input(type="hidden" name="uri" value=uri.href)
                    input(type="hidden" name="rel" value=link.rel)
                    input(type="hidden" name="href" value=link.href)
                    input(type="hidden" name="index" value=index)
                    button Delete relation
    section.actions
      h1 Actions
      if describedBy && describedBy.data && describedBy.data.links
        each link in describedBy.data.links
          if link.submissionSchema && link.submissionSchema.properties
            form(onsubmit="client.submit(event)" action=link.href)
              h1= link.submissionSchema.title || "Create item in collection"
              each prop, name in link.submissionSchema.properties
                if prop.type === "string"
                  label= prop.title || name
                    if prop.description
                      span.description= prop.description
                    input(type="text" name=name value=prop.default)
                if prop.type === "number"
                  label= prop.title || name
                    if prop.description
                      span.description= prop.description
                    input(type="number" name=name + "Number" value=prop.default step="any")
                if prop.type === "object"
                  label= prop.title || name
                    if prop.description
                      span.description= prop.description
                    textarea(name=name + "Json" rows="10")
                      = prop.default || "{}"
                if prop.type === "boolean"
                  label= prop.title || name
                    if prop.description
                      span.description= prop.description
                    input(type="checkbox" name=name checked=prop.default)
              button Create
            
        
  
